
.GriddleRelationEditor {

    &__Actions {
        width: 100%;
        float: left;
    }

    .griddle {
        th.Action {
            width: 12%;
            span {
                display: none;
            }
        }
        td.Action {
            text-align: center;
            span {
                margin: 0 10px;
            }
        }
    }

    &__ActionContainer {
        &--left, &--right {
            margin-bottom: 12px;
        }
        &--left {
            float: left;
        }
        &--right {
            float: right;
        }
    }
}
